# dependencies
node_modules/

# environment
.env
.env.*
!.env.example

# build output
frontend/dist/
backend/dist/

# prisma
backend/prisma/*.db
backend/prisma/migrations/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.pem
coverage/
